<!DOCTYPE html>
<html>
<head>
    <title>Movies Cart</title>
</head>
<body>
    <h2>Your Cart!</h2>
    <ul>
        {% for item in cart_items %}
            <li>{{ item.movie.movie_name }} - Quantity: {{ item.quantity }}</li>
        {% endfor %}
    </ul>
    <a href="{% url 'home' %}">Continue Shopping</a>
    <p class="card-text">
        {% for item in cart_items %}
            <form method="post" action="{% url 'add_movie_to_cart' item.movie.id %}">
    
          <div class="row">
            {% csrf_token %}
            <div class="col-auto">
              <div class="input-group col-auto">
                <div class="input-group-text">Quantity
                  </div>
                <input type="number" min="1" max="10"
                  class="form-control quantity-input"
                  name="quantity" value="1">
              </div>
            </div>
            <div class="col-auto">
              <button class="btn bg-dark text-white"
                type="submit">Add to cart</button>
            </div>
          </div>
        </form>
      </p>
</body>
</html>