{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load cart_filters %}
<div class="p-3">
  <div class="container">
    <div class="row mt-3">
      <div class="col mx-auto mb-3">
        <h2>List of Movies</h2>
        <hr />
      </div>
    </div>
    <div class="row">
      {% for movie in template_data.movies %}
      <div class="col-md-4 col-lg-3 mb-2">
        <div class="p-2 card align-items-center pt-4">
          <img src="{{ movie.image.url }}"
            class="card-img-top rounded img-card-200">
          <div class="card-body text-center">
            {{ movie.name }}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
<div class="col mx-auto mb-3">
    <h2>List of Movies</h2>
    <hr />
    <p class="card-text">
      <form method="GET">
        <div class="row">
          <div class="col-auto">
            <div class="input-group col-auto">
              <div class="input-group-text">
                Search</div>
              <input type="text" class="form-control"
                name="search">
            </div>
          </div>
          <div class="col-auto">
            <button class="btn bg-dark text-white"
              type="submit">Search</button>
          </div>
        </div>
      </form>
    </p>
  </div>
</div>
<!--       for cart        -->
<div class="p-3">
  <div class="container">
    <div class="row mt-3">
      <div class="col mx-auto mb-3">
        <h2>Shopping Cart</h2>
        <hr />
      </div>
    </div>
    <div class="row m-1">
      <table class="table table-bordered table-striped
        text-center">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
          </tr>
        </thead>
        <tbody>
          {% for movie in template_data.movies_in_cart %}
          <tr>
            <td>{{ movie.id }}</td>
            <td>{{ movie.name }}</td>
            <td>${{ movie.price }}</td>
            <td>{{
              request.session.cart|get_quantity:movie.id }}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="row">
      <div class="text-end">
        <a class="btn btn-outline-secondary mb-2"><b>Total
          to pay:</b> ${{ template_data.cart_total }}</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}