{% extends 'base.html' %}

{% block content %}
{% if review_list %}
    <div id = "container">
    {% for review in review_list %}
<div class = "listOfReviews">
    <h2 class = "inlist">{{ review.user }}</h2>
    <p class = "inlist">{{ review.date }} ⦁ {{ review.movie }}</p>
    <p class = "inlist">${{ review.comment }}</p>
</div>    {% endfor %}
    </div>
{% else %}
    <div><p style = "margin-left: 20px;">No reviews yet </p></div>
{% endif %}

    <a href="{% url 'movieStore:add_movie_to_cart' pk=view.object.pk %}">
        <button>Buy now</button></a>

{% load static %}
    <link rel="stylesheet" href="{% static 'movieStore/detailing.css' %}">
{% endblock %}